# Etiquetado de las erróneas combinaciones de Curva y de Cola.

Importamos librerías.

In [1]:
import pandas as pd
import glob
import re
import numpy as np

Leemos archivos csv.

In [2]:
archivos = glob.glob("../Datasets/Dataset_0/*.csv")

lista = []

for archivo in archivos:
    df = pd.read_csv(archivo, sep=";", header=0, usecols=['fecha', 'FormacionNIRCurva', 'ColaTipo'])
    lista.append(df)

df = pd.concat(lista, axis=0, ignore_index=True)

df.head(2)

                         fecha FormacionNIRCurva ColaTipo
0  2021-02-01 00:00:54.884 UTC   FR-2130+BU-3009  fr 2130
1  2021-02-01 00:00:54.884 UTC   FR-2130+BU-3009  fr 2130

Separamos dos dataframes, uno por cada año.

In [3]:
df21 = df[df.fecha < '2022']
df22 = df[df.fecha > '2022']
df22.head()

                              fecha FormacionNIRCurva ColaTipo
119387  2022-01-02 18:42:01.106 UTC     FR1350+BU3009  fr-1350
119388  2022-01-02 18:47:44.096 UTC     FR1350+BU3009  fr-1350
119389  2022-01-02 18:47:44.096 UTC     FR1350+BU3009  fr-1350
119390  2022-01-02 18:58:29.009 UTC     FR1350+BU3009  fr-1350
119391  2022-01-02 18:58:29.009 UTC     FR1350+BU3009  fr-1350

Analizamos las curvas y colas presentes en cada año, para después imprimir las que solo se presentan en 2022:

In [4]:
curvas21 = df21.FormacionNIRCurva.astype(str).unique()
curvas22 = df22.FormacionNIRCurva.astype(str).unique()

colas21 = df21.ColaTipo.astype(str).unique()
colas22 = df22.ColaTipo.astype(str).unique()

In [5]:
np.setdiff1d(colas22,colas21)

array(['1350', '2116', 'res 2130', 'res2116'], dtype=object)

In [6]:
np.setdiff1d(curvas22,curvas21)

array(['NEGRO'], dtype=object)

Aquí observamos como la curva 'NEGRO' solo se obtiene en 2022, modficando las medidas del NIR cuando se encuentra con tablero negro.

In [7]:
df[df.FormacionNIRCurva == 'NEGRO'].ColaTipo.unique()

array(['fr 2130', 'fr-1350', 'FR-2265'], dtype=object)

In [8]:
np.setdiff1d(curvas22,curvas21)

array(['NEGRO'], dtype=object)